$textColor: #505050;
$hoverLink: #f6753c;
$headingColor: #424b56;
$baseColor: #1a226d;
$colorWhite: #fff;
$colorDanger: #e7505a;
$colorSuccess: #26c281;
$colorWarning: #ffa500;
$colorBlue: #1f86ef;
$fontFamily: "Montserrat", sans-serif;
